*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: peachpuffs;
  /* border: 1rem solid purple; */
  margin: .5rem;
  padding: .5rem;
}

header{
  /* border: .2rem solid red; */
  height: 300px;
  width: auto;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

}

h1{
  /* border: .2rem solid navajowhite; */
  /* text-align: center; */
  color: red;
  
}
h2{
  /* border: .2rem solid green; */
  /* text-align: center; */
  color: aliceblue;

  
}
header nav{
  
  /* border: .2rem solid dimgray;
  background-color: bisque; */
  align-self: flex-end;

}
header nav ul {
  /* border: 1rem solid lawngreen; */
  list-style-type: none;

}
header nav ul li{

  /* border: 1rem solid rgb(193, 199, 187); */
 
}

header nav li a{
  text-decoration: none;
  color: rgb(224, 224, 213);
  font-size: 1.1em;
  font-weight: bold;
  padding: .6em 1em;
  /* display: block; */
  transition: all .5s ease;

}
header nav ul li a:hover{
  background-color: black;
  color: rgb(253, 63, 63);
}


nav li a:hover{
  background-color:rgb(8, 7, 7);
  color: rgb(228, 9, 9);
}

@media screen and (min-width: 810px) {
  nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }
  nav ul li{
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
  }

  
}

@media screen and (min-width: 1120px) {
  header h1{
    font-size:4em ;
  }
}

main{
  /* border: 1rem solid yellow; */
  display: flex;
  justify-content: space-between;
  padding:1rem;
  
}
main section article figure img{
  width: 300px;
  height: 300px;
  border-radius: 2%;
  /* border: 1rem solid saddlebrown; */
}



main section article{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
main section .a,.b .ol {
 /* flex-grow: 1; */
} 

main section article hr{
  width: 50%;
}
@media screen and (min-width:1120px) {
  main section {
    display: flex;
    flex-wrap: wrap;
  }
}



/* main section figure img{
  border: 1rem solid rosybrown;
  display: flex;
  padding: 1rem;
  justify-content:space-between;
} */

figcaption{
  /* border: 1rem solid navy; */
  color:navy
}
figure{
  /* border: 1rem solid rgb(151, 45, 45); */
  padding: 1rem;
}
main section nav ul{
  list-style-type:square;
  list-style:square;
}
aside{
  /* border: 1rem solid lightblue; */
  margin: 1rem 2rem;
  background-color: aliceblue;
  padding: 1.2rem;
  /* max-height:max-content; */
}
footer{
/* border: 1rem solid orange; */
background-color: black;
color: tomato;
height: 100px;
padding: 2rem;
margin-top: 1.5rem;
text-align: center;
}

@media screen and (max-width:800px){
        main{
          display: flex;
          flex-wrap: wrap;
        }
}
    
  

